.skill {
  &-card-main {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 2;
  }
  &-view {
    animation: modalSkill 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    max-height: 90%;
    margin-top: 50px;
    label {
      color: #7c7c7c;
      align-self: flex-start;
      margin: 5px;
      padding: 0px 20px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    background-color: #f8f8f8ee;
    padding: 15px;
    width: 95%;
    border-radius: 0px 20px 20px 0px;
    h1 {
      margin: 0px;
      color: #1d1d1d;
    }
    svg {
      color: #2e2e2e;
      &:hover {
        cursor: pointer;
        transform: rotate(90deg);
        transition: 0.2s;
      }
    }
  }
  &-content {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
  }
  &-card {
    transition: 0.2s all ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    cursor: default;
    background: linear-gradient(
      90deg,
      rgba(1, 167, 194, 1) 0%,
      rgba(59, 156, 208, 1) 100%
    );
    p {
      display: flex;
      margin-left: 5px;
      align-items: center;
    }
    img {
      width: 32px;
      height: auto;
      margin-right: 10px;
      border-radius: 50%;
      padding: 3px;
      background-color: white;
    }
    svg {
      margin-left: 8px;
      color: #ffc404;
    }
    h1 {
      color: #ffffff;
    }
    &:hover {
      transform: translateY(-4px);
      transition: 0.2s all ease-in-out;
    }
  }
  &-percent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
      margin: 0px 8px;
      color: white;
    }
  }
  &-button {
    a {
      all: unset;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    width: 100%;
    button {
      color: white;
      font-size: 1.265rem;
      padding: 10px 20px;
      outline: none;
      border-radius: 6px;
      background-color: #01a7c2;
      &:hover {
        cursor: pointer;
        transition: all 0.2s;
        background-color: #3d3d3d;
      }
    }
    label {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    svg {
      margin-right: 10px;
    }
  }
}
@media (max-width: 800px) {
  .skill-view {
    width: 90%;
  }
  .skill-title {
    svg {
      display: none;
    }
  }
}

@keyframes modalSkill {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0px);
  }
}
