.navbar-main {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 8px 20px;
  background-color: none;
}
.navbar-img {
  position: relative;
  width: 8rem;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -40px;
  border-radius: 50%;
  background-image: url(../../assets/profile.webp);
  margin-right: 12px;
  label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
  }
  &:hover {
    label {
      opacity: 0;
      animation: showAndNone 1s ease-in-out;
      transition: all 1.2s ease;
      display: flex;
      z-index: 100;
    }
  }
}
.navbar-info {
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 4px;
  }
}
.navbar-links {
  display: flex;
  gap: 0.575rem;
  flex-wrap: wrap;
  align-items: center;
  &-items {
    cursor: pointer;
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 8px;
    background-color: #242423;
    padding: 6px 8px;
    color: white;
    label {
      cursor: pointer;
    }
    svg {
      margin-right: 8px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 800px) {
  .navbar-main {
    flex-direction: column;
  }
}

@keyframes showAndNone {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
