//https://coolors.co/cfdbd5-e8eddf-f5cb5c-242423-333533

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e8eddf;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #242423;
}

p,
span,
label,
::placeholder {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #242423;
  width: 100%;
}
button {
  border: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #949494;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
